@font-face
{
    font-family: 'Raleway';
    src: url('static/Raleway-LightItalic.ttf') format('truetype');
}

body
{
    font-family: 'Raleway', Arial;
    font-sive: medium;


}
footer
{
    background-color: rgb(169,188,204);
}