

@font-face
{
    font-family: 'Raleway';
    src: url('static/Raleway-LightItalic.ttf') format('truetype');
}

#page
{
    font-family: 'Raleway', Arial;
    font-size: small;

}
footer
{
    background-color: #F2F2F2;
}

#en-tete
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#menu
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 30%;
}

#filtres
{
    display: flex;
}

#pieds_de_page
{
    display: flex;
}

#midlle
{
    display: flex;
    justify-content: space-around;
}

ul
{
    list-style-type: none;
}

#hebergement, #populaires, #activités
{
    background-color: #F2F2F2;

}
#lien_1
{
    border-top: 1px #0065FC solid;
}
a
{
    text-decoration: none;
}